body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;
}
.middle {
  display: flex;
}
.lives {
  display: flex;
}

#start {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(56, 36, 144);
  border: solid black 2px;
  font-size: 30px;
  color: white;
  font-family: cursive;
}
#restart {
  display: none;
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  font-size: 30px;

  color: white;
  font-family: cursive;
}

.flex-container {
  position: relative;
  display: flex;
  gap: 20px;
  width: 900px;
  height: 400px;
  margin: 10px;
  padding: 200px;
  background-color: #ea6767;
  border-radius: 10px;
}

.flex-block {
  position: absolute;
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: rgb(32, 32, 148);
  color: white;
  font-size: 20px;
}
#level {
  display: none;
  font-size: 22px;
  font-family: cursive;
  align-self: center;
  margin: 10px 0 10px 0;
}
.score {
  visibility: hidden;
}
.best-score {
  font-size: 30px;
  display: flex;
}
h1 {
  text-align: center;
}
.container {
  background-color: #ea6767;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
#play {
  padding: 10px 100px 10px 100px;
  margin: 0 0 10px 0;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  font-size: 30px;

  color: white;
  font-family: cursive;
}
