body {
  background-color: antiquewhite;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;

}
#start {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(56, 36, 144);
  border: solid black 2px;
  font-size: 30px;
  color: white;
  font-family: cursive;
}
#restart {
  display: none;
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  color: white;
  font-family: cursive;
}

.flex-container {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 200px;
  background-color: #ea6767;
  border-radius: 10px;


}
.photo{
  width: 50px;
  height: 30;
  margin: 20px;


}

.flex-item {
  position: absolute;
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: rgb(32, 32, 148);
  color: white;
}
#level {
  display: none;
  font-size: 24px;
  align-self: center;

  margin: 10px 0 10px 0;
}
