body {
  background-color: antiquewhite;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;
}
.middle {
  display: flex;
}

.first-image {
  width: 50px;
  margin: 0 10px 0 10px;
  visibility: hidden;
}
.second-image {
  width: 50px;
  margin: 0 10px 0 10px;
  visibility: hidden;
}
.third-image {
  width: 50px;
  margin: 0 10px 0 10px;
  visibility: hidden;
}

#start {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(56, 36, 144);
  border: solid black 2px;
  font-size: 30px;
  color: white;
  font-family: cursive;
}
#restart {
  display: none;
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  color: white;
  font-family: cursive;
}

.flex-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 10px;
  padding: 200px;
  background-color: #ea6767;
  border-radius: 10px;
}

.flex-item {
  position: absolute;
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: rgb(32, 32, 148);
  color: white;
  font-size: 20px;
}
#level {
  display: none;
  font-size: 22px;
  font-family: cursive;
  align-self: center;
  margin: 10px 0 10px 0;
}
