@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Press+Start+2P&family=Special+Gothic+Expanded+One&display=swap");

body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-size: 15px;
  font-style: normal;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.buttons {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10px 0;
}
.lives {
  display: flex;
}

#start {
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(56, 36, 144);
  border: solid black 2px;
  font-size: 30px;
  color: white;
  font-family: cursive;
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-size: 20px bold;
  font-style: normal;
}
#restart {
  display: none;
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  font-size: 30px;

  color: white;
  font-family: cursive;
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-size: 20px bold;
  font-style: normal;
}

.flex-container {
  position: relative;
  display: flex;
  gap: 20px;
  width: 600px;
  height: 300px;
  margin: 10px;
  padding: 200px;
  background-color: rgb(225, 221, 221);
  border-radius: 30px;
}

.flex-block {
  display: none;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background-color: #262626;
  color: white;
  font-size: 15px;
}
#level {
  display: none;
  font-size: 50px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 300;
  font-style: normal;
  align-self: center;
  margin: 10px 0 10px 0;
  color: aliceblue;
}
.score {
  visibility: hidden;
  font-size: 20px;
  padding: 0 0 10px 0;
}
.best-score {
  font-size: 25px;
  display: flex;
}
h1 {
  text-align: center;
}
.container {
  background-color: #ea6767;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#play {
  padding: 10px 100px 10px 100px;
  margin: 0 0 10px 0;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(75, 57, 156);
  border: solid black 2px;
  font-size: 30px;
  color: white;
  font-family: cursive;
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-size: 20px bold;
  font-style: normal;
}
.mm {
  display: flex;
  flex-direction: row;
}
